# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
.venvsec/

# Environment
.env

# VS Code
.vscode/

# Chroma DB (optional)
chroma_db/

# OS
.DS_Store
Thumbs.db